#publisher{
    z-index: 1;
}
.start-100 {
    left: 92%!important;
}
.cardnoty{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 0px;
    top: 0px;
}
 

body{
    background-color: rgb(141 107 255);
}